

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

/* ==============

  Header Section 

  ================
*/
header a {
  color: hsla(0,0%,100%,.6);
}

header nav {
  display: flex;
  flex-direction: column;
}

header nav > * {
  padding: 0 15px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style: none;
}

header nav li {
  margin-right: 1em;
}

header nav li:last-child {
  margin-right: 0;
}

.navbar-1 {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 32px;
}

.navbar-1 .news-link {
  color: white;
}

.navbar-2 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 48px;
  font-family: Shentox,sans-serif;
}

.navbar-2 a {
  color:rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.logo-container {
  display: none;
}

.logo-container img {
  width: 90px;
  height: 100%;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 1px solid lightgray;
  padding: 0 15px;
  color: black;
  font-size: 20px;
}

.search-icon {
  color:rgba(0, 0, 0, 0.3);
  border-left: 1px solid lightgray;
  padding-left: 15px;
  cursor: pointer;
}

.btn-burger {
  color: orange;
  padding-right: 0;
}

/* ==============

  Cover Section 
  
  ================
*/

.cover {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  height: 560px;
}

.cover article {
  overflow: hidden;

  background-color: green;
}

.article-1 {
  grid-row: 1 / span 2;
  position: relative;
  background-image: url(/images/cover-1.jpg);
}

.article-1 .card-content h2{
  font-size: 40px;
}

.article-2 {
  background-image: url(/images/cover-2.png);

}

.article-3 {
  background-image: url(/images/cover-3.png);

}

.img-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.card-content {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 15px 10px;
}

.card-content h2{
  font-size: 20px;
  margin: 10px 0;
}

.card-content p{
  color: gray;
}

.red-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,35,35,0.6474964985994398) 0%, rgba(7,2,2,1) 100%);
  position: absolute;
  top: 0;
}

.dark-gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 14%, rgba(255,255,255,0) 100%);
  position: absolute;
  top: 0;
}


/* ==============

  News Section 
  
  ================
*/

.container h2 {
  font-size: 28px;
  color: orangered;
}

.news {
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > * {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  flex: 2;
}

.card h2 {
  flex: 1;
}

.card p {
  flex: 1;
  font-size: 13px;
  color: grey;
}

/* Funding section*/

.funding {

  background-color: teal;
}


/* Categories Section*/

.categories {

  background-color: brown;
}


/* Deals section*/
.deals {
  background-color: cadetblue;
}


/* FOOTER */
footer {
  background-color: black;
}

footer.flex {
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links .menu ul{
  display: flex;
}

.footer-legal {
  padding-bottom: 3em;
}

@media(max-width: 768px) {

  main .auto-grid {
    grid-template-columns: 1fr;
  }

  /* Header*/
  .navbar-1 {
    display: none;
  }

  .navbar-2 .link-container {
    display: none;
  }

  .logo-container {
    display: block;
  }

  /* Cover */
  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

  }

  .cover .article-1 {
    grid-row: 1 / 1;
  }

  .article-1 .card-content h2{
    font-size: 25px;
  }
}


/* Utilities */

